#
# This source file is part of the Plainly iOS open-source project
#
# SPDX-FileCopyrightText: 2023 Stanford University
#
# SPDX-License-Identifier: MIT
#

# Swift Package Manager
*.xcodeproj
.swiftpm
.derivedData
.build/
!Plainly.xcodeproj

# IDE related folders
.idea
.vscode

# Xcode
xcuserdata/
*.ipa
*.dSYM
*.dSYM.zip

# Other files
.DS_Store
.env

# Tests
report.junit
report.html
Plainly.xcresult
Plainly-Firebase-E2E.xcresult
fastlane/screenshots/screenshots.html

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/
.vscode/
